* {
	text-align:center;
	font-family:"Sato", sans-serif;
}

body {
	overflow-x:hidden;
	margin:0;
}

h1 {
	color:white;
	background-color:#636363;
	margin:0;
	padding:20px;
}

img {
	max-width:98%;
}

.nav {
	background-color:#cccccc;
	overflow:hidden;
	margin:0;
}

.nav a {
	text-decoration:none;
	color:black;
	float:left;
	padding:14px 16px;
	text-align:center;
	margin:0;
}

.nav a#active {
	color:#18ba2b;
}

.nav a:hover {
	color:white;
	background-color:#919191;
}


.center {
	display:inline-block;
	margin-bottom:-3px;
}

img {
	border:5px solid black;
	border-radius:5px;
	max-width:95%;
}

h2 {
	font-size:35px;
	margin:3px;
	font-family:"Antonio", sans-serif;
}

p {
	font-family:"Sato", sans-serif;
}

